.header-part{
    background-color: #264653;
    
}

.purchase-button{
    background-color: #E76F51;
    border-radius: 5px;
    width: 168px;
    height: 44px;
}
.paragraph-font{
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    
   
}
#text-color{
    color: #E0E0E0;

}
.m-4{
    margin:0 !important;
}