.header-part{
    background-color: #264653;
    
}
body{
    margin:0;
    padding: 0;
}
.purchase-button{
    background-color: #E76F51;
    border-radius: 5px;
}
.paragraph-font{
    font-family: 'Poppins', sans-serif;
   
}
#text-color{
    color: #E0E0E0;

}